.globalTopHeader {
	padding: 30px 0px 70px 97px;
	background: linear-gradient(
		90deg,
		rgb(37, 109, 253) 0%,
		rgba(12, 85, 189, 1) 35%,
		rgb(1, 47, 139) 100%
	);
	color: white;
	border-radius: 0px 0px 0px 70px;
	margin-left: 20px;
}

.medexLogo {
	font-size: 40px;
	max-width: 150px;
	font-weight: bold;
	font-weight: 700;
	font-size: 45px;
	line-height: 67.5px;
	position: absolute;
	left: 137px;
}

.medexLogo:hover {
	cursor: pointer;
}

.title {
	padding: 100px 0px 0px 17px;
	font-weight: 100;
	font-weight: 100;
	font-size: 40px;
	line-height: 60px;
}

.topRight {
	color: white;
	position: absolute;
	right: 137px;
	top: 54px;
}

.buttonFaq,
.buttonPlans,
.buttonLogIn,
.buttonTryIt {
	margin: 20px;
	padding: 15px;
	cursor: pointer;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}

.buttonFaq:hover,
.buttonPlans:hover,
.buttonLogIn:hover,
.buttonTryIt:hover {
	text-decoration: underline;
}

.buttonTryIt:hover {
	background-color: rgb(229, 229, 238);
	color: rgb(0, 58, 146);
}

.buttonTryIt {
	border: solid 2px white;
	padding: 10px 15px;
}

.getCareButton {
	font-size: 24px;
	font-weight: 400;
	height: 56px;
	background-color: #24b74d;
	border-radius: 5px;
	color: white;
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.getCareButton:hover {
	background-color: #01b929b7;
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.flexContainer {
	color: #d6dcff;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.freeMedicalAdvice,
.licensedProfessionals,
.shippingWithin,
.personalizedTreatment {
	display: flex;
	padding: 20px;
}

.paddingIcon {
	padding: 0px 15px;
	position: relative;
	align-items: center;
	display: flex;
	flex: nowrap;
}

.imageLady {
	padding: 30px;
}

@media (max-width: 1024px) {
	/* Laptop */
	.topRight {
		position: relative;
		margin-top: 60px;
		right: 0;
		left: 0;
	}

	.title {
		padding: 80px 0px 0px 17px;
	}
	.buttonFaq {
		padding-left: 0px;
	}

	.medexLogo {
		left: 133px;
	}
}

@media (max-width: 768px) {
	/* Tablet */
}

@media (max-width: 425px) {
	/* Mobile L */
}
