.globalTopHeader {
	padding: 2rem 0px 1rem 6rem;
	margin-left: 20px;
	background: linear-gradient(
		90deg,
		rgb(37, 109, 253) 0%,
		rgba(12, 85, 189, 1) 35%,
		rgb(1, 47, 139) 100%
	);
	color: white;
	border-radius: 0px 0px 0px 70px;
}

.topRow {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: 100px;
}

.topRightButtons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
	flex-wrap: nowrap;
}

.h1,
.medexLogo {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	font-weight: bold;
	font-weight: 700;
	font-size: 3rem;
	line-height: 67.5px;
	max-width: fit-content;
	margin: auto;
	cursor: pointer;
	text-align: center;
}

.title {
	padding: 5rem 0px 2rem 0px;
	margin: 0px;
	font-weight: 100;
	font-weight: 100;
	font-size: 40px;
	line-height: 60px;
}

.buttonFaq,
.buttonPlans,
.buttonLogIn,
.buttonTryIt {
	cursor: pointer;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	display: flex;
	max-width: fit-content;
	padding: 0.5rem 2.2rem;
	text-align: center;
}

.buttonFaq:hover,
.buttonPlans:hover,
.buttonLogIn:hover,
.buttonTryIt:hover {
	text-decoration: underline;
}

.buttonTryIt:hover {
	background-color: rgb(229, 229, 238);
	color: rgb(0, 58, 146);
}

.buttonTryIt {
	border: solid 2px white;
	padding: 0.5rem 1.6rem;
}

.getCareButton {
	font-size: 24px;
	font-weight: 400;
	height: 56px;
	background-color: #24b74d;
	border-radius: 5px;
	color: white;
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0rem 1rem 2rem 2rem;
}

.getCareButton:hover {
	background-color: #01b929b7;
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.flexContainer {
	color: #d6dcff;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.freeMedicalAdvice,
.licensedProfessionals,
.shippingWithin,
.personalizedTreatment {
	display: flex;
	padding: 20px 0px;
	white-space: nowrap;
}

.paddingIcon {
	padding: 0px 15px;
	position: relative;
	align-items: center;
	display: flex;
	flex: nowrap;
}

.imageLady {
	padding: 0.5rem;
}

@media (max-width: 1024px) {
	/* Laptop */
	.getCareButton {
		margin: auto;
	}
	.globalTopHeader {
		padding: 1rem 2rem;
		margin-left: 32px;
		padding-right: 32px;
	}
	.topRow {
		margin-right: 0px;
	}
}

@media (max-width: 768px) {
	/* Tablet */
	.topRightButtons {
		padding: 1rem 0px 0px 0px;
		flex-wrap: wrap;
		width: 100%;
		flex-direction: row;
		justify-content: center;
	}

	.globalTopHeader {
		padding: 1rem 1rem;
		margin-left: 16px;
		padding-right: 32px;
		background: linear-gradient(
			90deg,
			rgb(37, 109, 253) 0%,
			rgba(12, 85, 189, 1) 35%,
			rgb(1, 47, 139) 100%
		);
		color: white;
		border-radius: 0px 0px 0px 70px;
	}

	.title {
		padding: 2rem 1rem;
		font-weight: 100;
		font-weight: 100;
		font-size: 2rem;
		line-height: 2.5rem;
		margin: auto;
		text-align: center;
	}

	.buttonFaq,
	.buttonPlans,
	.buttonLogIn,
	.buttonTryIt {
		font-size: 1.1rem;
		line-height: 1.4rem;
		padding: 0.5rem 1rem;
	}
	.flexContainer {
		font-size: 0.8rem;
		align-items: flex-start;
	}

	.h1,
	.medexLogo {
		font-size: 3.5em;
	}

	.topRow {
		margin-right: 0px;
	}
}

@media (max-width: 425px) {
	/* Mobile L */
	.freeMedicalAdvice,
	.licensedProfessionals,
	.shippingWithin,
	.personalizedTreatment {
		justify-content: center;
	}
}
